{
    admin :2019
    log {
        format json
    }
}

:80 {
    log {
        format json
    }

    @options {
        method OPTIONS
    }
    handle @options {
        header Access-Control-Allow-Origin "http://localhost:4200"
        header Access-Control-Allow-Credentials "true"
        header Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE, PATCH"
        header Access-Control-Allow-Headers "Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range"
        respond "" 204
    }

    reverse_proxy /api/v1/* go-service:8888 {
        header_down Access-Control-Allow-Origin "http://localhost:4200"
        header_down Access-Control-Allow-Credentials "true"
        header_down Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE, PATCH"
        header_down Access-Control-Allow-Headers "Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range"
    }
}
